certifi==2020.6.20
cycler==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.18.5
pandas==1.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
scikit-learn==0.23.1
scipy==1.5.1
seaborn==0.10.1
six==1.15.0
sklearn==0.0
streamlit==0.61.0
